/* Center and style the table */
table {
    width: 50%;
    border-collapse: collapse;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
    margin :20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
   
}

button.button {
    width: 100%;      /* Button fills the entire width of the table row */
    padding: 10px;    /* Adds padding to the button */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button.button:hover {
    background-color: #45a049;  /* Button color changes on hover */
}

